# file options

--swiftversion 6.2
--exclude .build
--exclude **/*.pb.swift
--exclude **/*.grpc.swift

# format options

--extensionacl on-declarations
--indent 4
--ifdef no-indent
--patternlet inline
--stripunusedargs closure-only
--wraparguments before-first
